@import "tango.css";

hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}

/* Changing the style for code blocks. */

pre, code {
  border: 1px solid #a5b1c2;
  border-radius: 5px;
  background-color: #ffffff;
}

pre {
  padding: 5px;
}

/* Changing the background of the syntax highlighter. */

.highlighter-rouge .highlight {
  background-color: #ffffff;
}

/* Removing bolded syntax from default syntax highlighter in main.css */

.highlight .k {
    font-weight: normal
}

.highlight .o {
    font-weight: normal
}

.highlight .cp {
    font-weight: normal
}

.highlight .gs {
    font-weight: normal
}

.highlight .kc {
    font-weight: normal
}

.highlight .kd {
    font-weight: normal
}

.highlight .kp {
    font-weight: normal
}

.highlight .kr {
    font-weight: normal
}

.highlight .kt {
    font-weight: normal
}

.highlight .ne {
    font-weight: normal
}

.highlight .nf {
    font-weight: normal
}

.highlight .ow {
    font-weight: normal
}
